@{
    ViewBag.Title = "404房间";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin:auto;width:400px;">
    <img src="@this.Href("~/Content/images/zero.jpg")" /><span style="font-family:'Microsoft YaHei'"> 亲，欢迎光临404寒舍~</span>
</div>
