################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.user
*.suo

/src/.vs
/src/Ace/bin
/src/Ace/obj
/src/Ace.Web/bin
/src/Ace.Web/obj
/src/Ace.Web.Mvc/bin
/src/Ace.Web.Mvc/obj
/src/Ace.Data/bin
/src/Ace.Data/obj
/src/AceBlog/bin
/src/AceBlog/obj
/src/AceBlog.Model/bin
/src/AceBlog.Model/obj
/src/AceBlog.Repository/bin
/src/AceBlog.Repository/obj
/src/AceBlog.Service/bin
/src/AceBlog.Service/obj
/src/AceBlog.Web/bin
/src/AceBlog.Web/obj
/src/AceBlog.Web/weblog
/src/AceBlog.Web/wwwroot/upload
/src/DotNetEx/bin
/src/DotNetEx/obj
/src/WebApplication1