* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    /*position: relative;*/
}

    .container .logo {
        overflow: hidden;
        padding-bottom: 20px;
    }

        .container .logo i {
            font-size: 35px;
            color: #fff;
            float: left;
            text-shadow: 4px 3px 0 #1d9d74,80px 80px 0 rgba(0,0,0,0.15);
        }

        .container .logo h1 {
            font-size: 22px;
            font-weight: bold;
            color: #fff;
            text-shadow: 4px 3px 0 #1ABC9C,90px 80px 0 rgba(0,0,0,0.15);
        }

        .container .logo span {
            font-size: 30px;
            font-weight: bold;
        }

form {
    /*position: relative;*/
    /*z-index: 2;*/
    text-align: left;
    background-color: #ebeff0;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

    form input {
        font-size: 14px;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: #fff;
        width: 300px;
        border-radius: 5px;
        padding: 12px 15px;
        margin-bottom: 20px;
        display: block;
        text-align: left;
        color: #929191;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        font-weight: 300;
    }

    form .row {
        position: relative;
        overflow: hidden;
    }

    form i {
        color: #cbcbcb;
        top: 26px;
        right: 6px;
        z-index: 99;
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 18px !important;
    }

    form .row .authcode {
        position: absolute;
        left: 105px;
        top: 10px;
    }

    form button {
        outline: 0;
        background-color: #1ABC9C;
        border: 0;
        padding: 10px 15px;
        color: #fff;
        border-radius: 5px;
        width: 300px;
        cursor: pointer;
        font: 16px/1.5 Lucida Grande,Lucida Sans Unicode,Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    }

        form button:hover {
            opacity: 0.9;
        }


button[disabled], button[disabled] button {
    color: #fff;
    opacity: 1;
    cursor: default;
}

.copyright {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 100%;
    margin-top: -60px;
    width: 97%;
    font-family: Microsoft Yahei;
    line-height: 25px;
    font-size: 14px;
}

.tips {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.tips_msg {
    height: 30px;
    line-height: 30px;
    color: red;
    margin: 0 auto;
    border-radius: 5px;
    width: 300px;
    font-size: 14px !important;
}

    .tips_msg i {
        position: relative;
        top: 1px;
        right: 0px;
        width: unset;
        height: unset;
        color: red;
        font-size: 15px !important;
        margin-right: 4px;
    }
