* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-family: 'Microsoft YaHei';*/
    font-size: 14px;
    line-height: 1.42857143;
    /*color: #333;*/
    /*background-color: #fff;*/
}

a.a-disabled, a.a-disabled:hover, a.a-disabled:active, a.a-disabled:visited {
    cursor: default;
    color: darkgray;
    text-decoration: none;
}

/*表单table样式*/
.form-table {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border-width: 3px 1px 1px;
    table-layout: fixed;
}

.form-title {
    width: 90px;
    text-align: right;
    /*white-space: nowrap;*/
    padding-right: 5px;
}

.form-value {
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}

input.a-control, textarea.a-control, select.a-control {
    width: 100%;
    border: 0.5px solid #ccc;
    padding-right: 5px;
    padding-left: 5px;
    /*border-radius: 0px;*/
    /*box-shadow: none;*/
}

input.a-control {
    height: 30px;
    line-height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*border-radius: 0px;*/
    /*box-shadow: none;*/
}

textarea.a-control {
    height: 70px;
    padding-top: 4px;
    padding-bottom: 4px;
}

select.a-control {
    height: 28px;
    line-height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 1px;
    padding-left: 1px;
}

.a-btn, .a-btn-primary, .a-btn-success, .a-btn-info, .a-btn-warning, .a-btn-danger, .a-btn-add, .a-btn-edit, .a-btn-delete, .a-btn-refresh, .a-btn-search {
    display: inline-block;
    /*height: 30px;*/
    line-height: 28px;
    padding: 0 12px;
    white-space: nowrap;
    text-align: center;
    /*font-size: 16px;*/
    border-radius: 1px;
    cursor: pointer;
    outline: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: 0.5px solid;
    text-decoration: none;
}

.a-btn-primary, .a-btn-success, .a-btn-info, .a-btn-warning, .a-btn-danger, .a-span-primary, .a-span-success, .a-span-info, .a-span-warning, .a-span-danger, .a-span-primary-s, .a-span-success-s, .a-span-info-s, .a-span-warning-s, .a-span-danger-s, .a-btn-add, .a-btn-edit, .a-btn-delete {
    color: #fff;
}

    .a-btn-primary:hover, .a-btn-success:hover, .a-btn-info:hover, .a-btn-warning:hover, .a-btn-danger:hover, .a-btn-add:hover, .a-btn-edit:hover, .a-btn-delete:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    .a-btn-primary:active, .a-btn-success:active, .a-btn-info:active, .a-btn-warning:active, .a-btn-danger:active, .a-btn-add:active, .a-btn-edit:active, .a-btn-delete:active {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .a-btn[disabled], .a-btn-primary[disabled], .a-btn-success[disabled], .a-btn-info[disabled], .a-btn-warning[disabled], .a-btn-danger[disabled], .a-btn-add[disabled], .a-btn-edit[disabled], .a-btn-delete[disabled], .a-btn-refresh[disabled], .a-btn-search[disabled] {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 0.65;
    }

        .a-btn[disabled]:hover, .a-btn-refresh[disabled]:hover, .a-btn-search[disabled]:hover {
            border-color: #C9C9C9;
        }

.a-btn, .a-btn-refresh, .a-btn-search {
    border-color: #C9C9C9;
    background-color: #fff;
    color: #555;
}

    .a-btn:hover, .a-btn-refresh:hover, .a-btn-search:hover {
        /*opacity: 0.8;*/
        /*filter: alpha(opacity=80);*/
        /*border-color: #009688;*/
        color: #333;
    }

    .a-btn:active, .a-btn-refresh:active, .a-btn-search:active {
        opacity: 1;
        filter: alpha(opacity=100);
    }

.a-btn-primary, .a-span-primary, .a-span-primary-s, .a-btn-add, .a-btn-edit, .a-btn-delete {
    background-color: #337ab7;
    border-color: #337ab7;
}

.a-btn-success, .a-span-success, .a-span-success-s {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.a-btn-info, .a-span-info, .a-span-info-s {
    background-color: #269abc;
    border-color: #269abc;
}

.a-btn-warning, .a-span-warning, .a-span-warning-s {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.a-btn-danger, .a-span-danger, .a-span-danger-s {
    background-color: #d9534f;
    border-color: #d9534f;
}

button.a-btn-link {
    border: none;
    color: #337ab7;
    background-color: transparent;
    outline: 0;
}

    button.a-btn-link + button.a-btn-link {
        /*margin-left: 5px;*/
    }

    button.a-btn-link:hover {
        color: #23527c;
        text-decoration: underline;
    }

    button.a-btn-link[disabled], button.a-btn-link[disabled]:hover {
        cursor: default;
        color: darkgray;
        text-decoration: none;
    }

.a-add, .a-edit, .a-delete, .a-setting, .a-refresh, .a-search, .a-btn-add, .a-btn-edit, .a-btn-delete, .a-btn-refresh, .a-btn-search {
    font-family: 'FontAwesome';
}

    .a-add:before, .a-btn-add:before {
        content: "\f067";
    }

    .a-edit:before, .a-btn-edit:before {
        content: "\f044";
    }

    .a-delete:before, .a-btn-delete:before {
        content: "\f014";
    }

    .a-setting:before {
        content: "\f013";
    }

    .a-refresh:before, .a-btn-refresh:before {
        content: "\f021";
    }

    .a-search:before, .a-btn-search:before {
        content: "\f002";
    }

.a-span-primary, .a-span-success, .a-span-info, .a-span-warning, .a-span-danger {
    display: inline-block;
    padding: 1.5px 6px;
    white-space: nowrap;
    text-align: center;
    border-radius: 4px;
    outline: 0;
    /*border: 1px solid;*/
    text-decoration: none;
    /*font-size: 12px;*/
}

.a-span-primary-s, .a-span-success-s, .a-span-info-s, .a-span-warning-s, .a-span-danger-s {
    display: inline-block;
    padding: 1.5px 5px;
    white-space: nowrap;
    text-align: center;
    border-radius: 4px;
    outline: 0;
    /*border: 1px solid;*/
    text-decoration: none;
    font-size: 12px;
}

.a-checkbox, .a-radio {
    display: none;
}

    .a-checkbox + label, .a-radio + label {
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        margin-bottom: auto; /* 覆盖bootstrap的 margin-bottom: 5px; */
    }

        .a-checkbox + label + .a-checkbox + label, .a-radio + label + .a-radio + label {
            margin-left: 10px;
        }

        .a-checkbox + label:before, .a-radio + label:before {
            font-weight: normal;
            margin-right: 3px;
            background: #fff;
            box-sizing: border-box;
            font-family: 'FontAwesome';
            color: #337ab7;
        }

        .a-checkbox + label:before {
            content: "\f096";
        }

    .a-checkbox:checked + label:before {
        content: "\f14a";
    }

    .a-radio + label:before {
        content: "\f10c";
    }

    .a-radio:checked + label:before {
        content: "\f192";
    }

    .a-checkbox[disabled] + label, .a-radio[disabled] + label {
        cursor: default;
    }

        .a-checkbox[disabled] + label:before, .a-radio[disabled] + label:before {
            opacity: 0.5;
        }

.a-ckb, .a-rdo {
    position: relative;
    display: inline-block;
    padding-right: 12px;
    line-height: initial;
}

    .a-ckb input[type="checkbox"], .a-rdo input[type="radio"] {
        opacity: 0;
        margin: 3px 0 0;
    }

    .a-ckb label, .a-rdo label {
        padding-left: 10px;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }

        .a-ckb label:before {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 1px;
            left: 0;
            content: '';
            display: inline-block;
            border: 1px solid #ccc;
            background: #fff;
            box-sizing: border-box;
        }

    .a-ckb input[type="checkbox"]:disabled + label {
        color: #999;
    }

        .a-ckb input[type="checkbox"]:disabled + label:before {
            background-color: #eee;
        }

    .a-ckb input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\F00C";
        position: absolute;
        top: 4px;
        left: 3px;
        display: inline-block;
        font-size: 12px;
        width: 16px;
        height: 16px;
        color: #fff;
    }

    .a-ckb input[type="checkbox"]:checked + label:before {
        border-color: #337ab7;
        background-color: #337ab7;
    }

    .a-rdo label:before {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 1px;
        left: 0;
        content: '';
        display: inline-block;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        border: 1px solid #ccc;
        background: #fff;
        box-sizing: border-box;
    }

    .a-rdo input[type="radio"]:disabled + label {
        color: #999;
    }

        .a-rdo input[type="radio"]:disabled + label:before {
            background-color: #eee;
        }

    .a-rdo input[type="radio"]:checked + label::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 4px;
        display: inline-block;
        font-size: 12px;
        line-height: 1.42857143;
        width: 10px;
        height: 10px;
        background-color: #444;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }

    .a-rdo input[type="radio"]:checked + label:before {
        border-color: #337ab7;
    }

    .a-rdo input[type="radio"]:checked + label::after {
        background-color: #337ab7;
    }

/*-------------ul-------------*/

ul li {
    list-style: none;
}

/*===============ul===============*/

/*----------------------*/
.fa-ellipsis-h:before {
    content: "\f141"
}

/* 设置bootstrap表格div的最小宽度，不然，在小屏显示器下会出现变形 */
.table-responsive {
    min-width: 800px;
}

/* start fx-page */
.fx-page {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    line-height: 24px;
    font-size: 12px;
    font: Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
}

    .fx-page, .fx-page * {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

        .fx-page .fx-page-btn {
            vertical-align: middle;
            padding: 0 15px;
            border: 1px solid #e2e2e2;
            border-right: 0.5px solid #e2e2e2;
            border-left: 0.5px solid #e2e2e2;
            height: 28px;
            line-height: 28px;
            background-color: #fff;
            color: #333;
            font-size: 12px;
            float: left;
        }

.fx-page-btn:first-child {
    border-left: 1px solid #e2e2e2;
}

.fx-page-btn:last-child {
    border-right: 1px solid #e2e2e2;
}

.fx-page a {
    text-decoration: none;
}

.fx-page .fx-page-curr {
    cursor: default;
    background-color: #009688;
    color: #fff;
    border: 1px solid #009688;
}

.fx-page .fx-page-total {
    height: 30px;
    line-height: 30px;
    margin-left: 1px;
    border: none;
    font-weight: 400;
}

.fx-page button {
    margin-left: 5px;
    padding: 0 18px;
    cursor: pointer;
}

.fx-page input {
    width: 50px;
    margin: 0 5px;
    text-align: center;
}

.fx-page button, .fx-page input {
    height: 30px;
    line-height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 0px;
    vertical-align: top;
    background-color: #fff;
    box-sizing: border-box !important;
}

.fx-page button, input {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}
/* end fx-page */
